# ignore everything
**

# ...except source and deps
!go.mod
!go.sum
!cmd
!contracts
!db
!event
!feed
!feedbot
!graphql
!indexer
!mediaprocessing
!middleware
!publicapi
!server
!service
!util
!validate
!docker
!debugtools
!tokenprocessing
!root-certs
!emails
!adminapi
!tests
!static
